@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;300&family=Poppins:wght@400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1386%26quot%3b)' fill='none'%3e%3cpath d='M1223.145%2c131.639C1247.313%2c131.554%2c1273.047%2c126.759%2c1285.853%2c106.263C1299.294%2c84.751%2c1295.829%2c57.383%2c1283.333%2c35.309C1270.631%2c12.872%2c1248.917%2c-3.761%2c1223.145%2c-4.51C1196.096%2c-5.296%2c1169.994%2c8.126%2c1156.58%2c31.627C1143.272%2c54.943%2c1144.789%2c84.36%2c1159.664%2c106.709C1173.164%2c126.993%2c1198.779%2c131.725%2c1223.145%2c131.639' fill='rgba(0%2c 205%2c 255%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M541.6966964589717 470.77421583763464L628.3689713501891 574.2663543150843 670.6577529215914 464.1003118841991z' fill='rgba(0%2c 205%2c 255%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M36.295%2c115.756C57.886%2c115.595%2c72.102%2c95.82%2c82.652%2c76.981C92.883%2c58.711%2c100.692%2c37.213%2c90.534%2c18.902C80.148%2c0.179%2c57.695%2c-7.282%2c36.295%2c-6.587C16.162%2c-5.933%2c-2.263%2c4.696%2c-12.165%2c22.238C-21.903%2c39.489%2c-20.386%2c60.09%2c-11.272%2c77.679C-1.257%2c97.006%2c14.528%2c115.918%2c36.295%2c115.756' fill='rgba(0%2c 205%2c 255%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M816.491%2c471.841C832.018%2c470.782%2c842.565%2c457.309%2c849.439%2c443.346C855.419%2c431.2%2c855.067%2c417.642%2c849.175%2c405.453C842.249%2c391.123%2c832.362%2c376.382%2c816.491%2c375.182C798.989%2c373.858%2c782.648%2c384.518%2c773.954%2c399.765C765.339%2c414.873%2c765.878%2c433.463%2c774.718%2c448.441C783.412%2c463.173%2c799.425%2c473.005%2c816.491%2c471.841' fill='rgba(0%2c 205%2c 255%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M722.76%2c238.325C744.479%2c237.387%2c761.566%2c222.387%2c772.88%2c203.824C784.797%2c184.271%2c794.376%2c159.971%2c782.417%2c140.444C770.765%2c121.418%2c745.051%2c121.057%2c722.76%2c121.984C702.567%2c122.824%2c682.402%2c128.305%2c671.119%2c145.072C658.399%2c163.973%2c653.499%2c188.571%2c664.536%2c208.502C675.858%2c228.947%2c699.411%2c239.333%2c722.76%2c238.325' fill='rgba(0%2c 205%2c 255%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M182.49521721733242 288.0192511237146L156.73954443036172 155.5178012534874 24.238094560134527 181.2734740404581 49.99376734710523 313.7749239106853z' fill='rgba(0%2c 205%2c 255%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1166.0673423593828 271.9166690521367L1077.7439018029004 413.2637206983801 1219.0909534491439 501.5871612548624 1307.4143940056263 360.24010960861904z' fill='rgba(0%2c 205%2c 255%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M319.59987238896366 261.7507404071431L201.06778421291276 263.7067295237266 252.8826812540972 353.4527637880084z' fill='rgba(0%2c 205%2c 255%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1036.627439794953-57.148882639122235L897.2759869276101 23.30571618580366 977.7305857525361 162.65716905314656 1117.0820386198789 82.20257022822068z' fill='rgba(0%2c 205%2c 255%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1386'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 80px;
/* background-color: #ffff; */
}

header .menu{
  display: flex;
  align-items: center;
}

.menu .logo{
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: 1px solid #ddd;
  margin-right: 10px;
}

.menu button{
  background-color: transparent;
  color: #333;
  border: none;
  font-size: 15px;
}

header .menu .link{
  padding: 10px 20px;
  text-decoration: none;
  color: #555;
}


.login-page{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  text-align: center;
}

.button{
  background-color: #555;
  color: #fff;
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 8px 10px;
}

.container{
  margin: auto;
  max-width: 1000px;
}

.m-2{
  margin-top: 20px;
}

.community-showcase{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1000px;
}

.post{
  width: 32%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
}

.post img{
  position: relative;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.imageGen{
  max-width: 1000px;
  border-radius: 20px 40px;
  margin: 20px auto;
  padding: 10px;
  background-color: transparent;
}

.generate-form{
  display: flex;
  align-items: center;
  width: 100%;
}

.generate-form input{
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.generate-form input:focus{
  outline: 0.6px solid blue;
}

.generate-form button{
  margin-left: 10px;
  border: none;
  width: 100px;
  background-color: #04acfa;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

.imageGen .result-image{
  max-width: 400px;
  margin: auto;
  margin-top: 20px;
}

.result-image img{
  width: 100%;
  border-radius: 5px;
  height: auto;
}

.result-image .action{
  display: flex;
}

.action button{
  background-color: #f5f9fb;
  color: #333;
  border: none;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.loading{
  display: flex;
  width: 100%;
  text-align: center;
  margin: 70px auto;
  align-items: center;
}

.loading p{
  margin: auto;
  text-align: center;
}

.share-form{
  display: none;
}

.d-flex{
  display: flex;
  align-items: center;
}

h1 span{
  color: #04acfa;
}
 
.logo{
  border: 1px solid #ddd;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

@media screen and (max-width: 1000px) {
  header{
    padding: 8px;
    font-size: 15px;
  }

  header .menu .link{
    padding: 8px 10px;
    font-size: 14px;
  }
}

